automation/n8n/strattonai_targeted_backfill_research_workflow.json
{
  "name": "StrattonAI Targeted Backfill Research v2",
  "nodes": [
    {
      "parameters": {},
      "id": "f8a5c9dc-2c13-4b49-9e31-1e10cce7c001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const incomingPlan = $input.first()?.json?.plan_items;\nconst defaultPlanItems = [\n  {\n    priority_rank: 2,\n    priority_score: 217.99,\n    gap_score: 203.43,\n    event_category: 'Capital Expenditure',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'ORCL',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Capital Expenditure peer evidence around ORCL is still fallback-heavy and repeatedly used by live signals.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Capital Expenditure::ORCL::Sector Peer'\n  },\n  {\n    priority_rank: 3,\n    priority_score: 217.18,\n    gap_score: 189.64,\n    event_category: 'Legal/Regulatory',\n    target_type: 'related_company',\n    primary_ticker: 'META',\n    related_ticker: 'GOOGL',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 6,\n    current_sample_count: 5,\n    gap_size: 1,\n    why_this_slice_matters: 'Legal/Regulatory peer-path evidence around GOOGL is still sparse relative to its signal usage.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Legal/Regulatory::GOOGL::Sector Peer'\n  },\n  {\n    priority_rank: 4,\n    priority_score: 192.65,\n    gap_score: 176.49,\n    event_category: 'Partnership',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'TSM',\n    relationship_type: 'Supplier',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Partnership supplier-path evidence for TSM remains one of the thinnest high-usage slices.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::TSM::Supplier'\n  },\n  {\n    priority_rank: 5,\n    priority_score: 192.17,\n    gap_score: 175.53,\n    event_category: 'Partnership',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'MSFT',\n    relationship_type: 'Customer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Partnership customer-path evidence for MSFT still needs one more clean example to reduce fallback use.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::MSFT::Customer'\n  },\n  {\n    priority_rank: 6,\n    priority_score: 189.13,\n    gap_score: 174.09,\n    event_category: 'Partnership',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'AVGO',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Broadcom peer-path partnership evidence remains thin and still influences low-confidence signals.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::AVGO::Sector Peer'\n  },\n  {\n    priority_rank: 7,\n    priority_score: 186.64,\n    gap_score: 160.14,\n    event_category: 'Legal/Regulatory',\n    target_type: 'related_company',\n    primary_ticker: 'GOOGL',\n    related_ticker: 'META',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 7,\n    current_sample_count: 6,\n    gap_size: 1,\n    why_this_slice_matters: 'Meta peer coverage for regulatory events still trails its signal usage.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Legal/Regulatory::META::Sector Peer'\n  },\n  {\n    priority_rank: 8,\n    priority_score: 176.06,\n    gap_score: 161.18,\n    event_category: 'Capital Expenditure',\n    target_type: 'related_company',\n    primary_ticker: 'MSFT',\n    related_ticker: 'AMZN',\n    relationship_type: 'Competitor',\n    desired_sample_count: 25,\n    current_sample_count: 24,\n    gap_size: 1,\n    why_this_slice_matters: 'Competitor-path capital expenditure evidence around Amazon is still slightly under target and heavily reused.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Capital Expenditure::AMZN::Competitor'\n  },\n  {\n    priority_rank: 9,\n    priority_score: 175.9,\n    gap_score: 147.95,\n    event_category: 'Product Launch',\n    target_type: 'related_company',\n    primary_ticker: 'MSFT',\n    related_ticker: 'GOOGL',\n    relationship_type: 'Competitor',\n    desired_sample_count: 57,\n    current_sample_count: 56,\n    gap_size: 1,\n    why_this_slice_matters: 'GOOGL competitor coverage for product launches is still one example short and remains low-confidence heavy.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::GOOGL::Competitor'\n  },\n  {\n    priority_rank: 10,\n    priority_score: 165.97,\n    gap_score: 138.1,\n    event_category: 'Product Launch',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'TSM',\n    relationship_type: 'Supplier',\n    desired_sample_count: 5,\n    current_sample_count: 4,\n    gap_size: 1,\n    why_this_slice_matters: 'Supplier-path product-launch evidence for TSM remains sparse and still contributes to fallback use.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::TSM::Supplier'\n  },\n  {\n    priority_rank: 11,\n    priority_score: 150.66,\n    gap_score: 122.95,\n    event_category: 'Product Launch',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'AMD',\n    relationship_type: 'Competitor',\n    desired_sample_count: 5,\n    current_sample_count: 4,\n    gap_size: 1,\n    why_this_slice_matters: 'AMD competitor-path product-launch evidence is still below target depth and low-confidence heavy.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::AMD::Competitor'\n  }\n];\n\nconst planItems = Array.isArray(incomingPlan) && incomingPlan.length ? incomingPlan : defaultPlanItems;\n\nconst sourcePriorityByType = {\n  'sec-filings': ['sec-filings', 'company-ir', 'major-news'],\n  'market-events': ['press-release', 'company-ir', 'major-news'],\n  'price-history': ['price-provider', 'exchange-data']\n};\n\nfunction buildSearchQueries(item) {\n  const eventCategory = item.event_category;\n  const primary = item.primary_ticker ? `${item.primary_ticker} ` : '';\n  const related = item.related_ticker || 'related company';\n  const relationship = item.relationship_type ? ` ${item.relationship_type}` : '';\n  const sourceType = item.suggested_source_type || 'market-events';\n  const sourcePriority = sourcePriorityByType[sourceType] ?? ['major-news'];\n\n  return [\n    {\n      query_text: `${primary}${eventCategory} ${related}${relationship} historical`.trim(),\n      source_type: sourcePriority[0],\n      priority: 1,\n      notes: `Prefer explicit ${eventCategory} evidence tied to ${related}${relationship ? ` via ${relationship}` : ''}.`\n    },\n    {\n      query_text: `${primary}${related} ${eventCategory} announcement press release historical`.trim(),\n      source_type: sourcePriority[Math.min(1, sourcePriority.length - 1)],\n      priority: 2,\n      notes: 'Prefer primary-source announcements or filing-linked source pages.'\n    }\n  ];\n}\n\nconst items = [];\nfor (const item of planItems) {\n  if (item.source_gap_key === 'price::TTM') continue;\n  const suggestedSourceType = item.suggested_source_type || 'market-events';\n  const searchQueries = buildSearchQueries(item);\n  for (const query of searchQueries) {\n    items.push({\n      json: {\n        source_gap_key: item.source_gap_key,\n        priority_rank: item.priority_rank,\n        priority_score: item.priority_score ?? item.planner_score ?? null,\n        gap_score: item.gap_score ?? item.notes?.audit_gap_score ?? null,\n        event_category: item.event_category,\n        target_type: item.target_type,\n        primary_ticker: item.primary_ticker ?? null,\n        related_ticker: item.related_ticker ?? null,\n        relationship_type: item.relationship_type ?? null,\n        desired_sample_count: item.desired_sample_count ?? item.desired_min_sample_size ?? 0,\n        current_sample_count: item.current_sample_count ?? item.current_sample_size ?? 0,\n        gap_size: item.gap_size ?? 0,\n        why_this_slice_matters: item.why_this_slice_matters ?? item.why_it_matters ?? '',\n        suggested_source_type: suggestedSourceType,\n        suggested_source_priority: sourcePriorityByType[suggestedSourceType] ?? ['major-news'],\n        search_query: query,\n        source_candidates: [],\n        collected_examples: [],\n        review_status: 'pending_research',\n        reviewer_notes: ''\n      }\n    });\n  }\n}\nreturn items;"
      },
      "id": "c5b4e63f-73c7-447d-9bde-a7b4554b6002",
      "name": "Build Search Task Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const incomingPlan = $input.first()?.json?.plan_items;\nconst defaultPlanItems = [\n  {\n    priority_rank: 2,\n    priority_score: 217.99,\n    gap_score: 203.43,\n    event_category: 'Capital Expenditure',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'ORCL',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Capital Expenditure peer evidence around ORCL is still fallback-heavy and repeatedly used by live signals.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Capital Expenditure::ORCL::Sector Peer'\n  },\n  {\n    priority_rank: 3,\n    priority_score: 217.18,\n    gap_score: 189.64,\n    event_category: 'Legal/Regulatory',\n    target_type: 'related_company',\n    primary_ticker: 'META',\n    related_ticker: 'GOOGL',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 6,\n    current_sample_count: 5,\n    gap_size: 1,\n    why_this_slice_matters: 'Legal/Regulatory peer-path evidence around GOOGL is still sparse relative to its signal usage.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Legal/Regulatory::GOOGL::Sector Peer'\n  },\n  {\n    priority_rank: 4,\n    priority_score: 192.65,\n    gap_score: 176.49,\n    event_category: 'Partnership',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'TSM',\n    relationship_type: 'Supplier',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Partnership supplier-path evidence for TSM remains one of the thinnest high-usage slices.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::TSM::Supplier'\n  },\n  {\n    priority_rank: 5,\n    priority_score: 192.17,\n    gap_score: 175.53,\n    event_category: 'Partnership',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'MSFT',\n    relationship_type: 'Customer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Partnership customer-path evidence for MSFT still needs one more clean example to reduce fallback use.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::MSFT::Customer'\n  },\n  {\n    priority_rank: 6,\n    priority_score: 189.13,\n    gap_score: 174.09,\n    event_category: 'Partnership',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'AVGO',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 8,\n    current_sample_count: 7,\n    gap_size: 1,\n    why_this_slice_matters: 'Broadcom peer-path partnership evidence remains thin and still influences low-confidence signals.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Partnership::AVGO::Sector Peer'\n  },\n  {\n    priority_rank: 7,\n    priority_score: 186.64,\n    gap_score: 160.14,\n    event_category: 'Legal/Regulatory',\n    target_type: 'related_company',\n    primary_ticker: 'GOOGL',\n    related_ticker: 'META',\n    relationship_type: 'Sector Peer',\n    desired_sample_count: 7,\n    current_sample_count: 6,\n    gap_size: 1,\n    why_this_slice_matters: 'Meta peer coverage for regulatory events still trails its signal usage.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Legal/Regulatory::META::Sector Peer'\n  },\n  {\n    priority_rank: 8,\n    priority_score: 176.06,\n    gap_score: 161.18,\n    event_category: 'Capital Expenditure',\n    target_type: 'related_company',\n    primary_ticker: 'MSFT',\n    related_ticker: 'AMZN',\n    relationship_type: 'Competitor',\n    desired_sample_count: 25,\n    current_sample_count: 24,\n    gap_size: 1,\n    why_this_slice_matters: 'Competitor-path capital expenditure evidence around Amazon is still slightly under target and heavily reused.',\n    suggested_source_type: 'sec-filings',\n    source_gap_key: 'related::Capital Expenditure::AMZN::Competitor'\n  },\n  {\n    priority_rank: 9,\n    priority_score: 175.9,\n    gap_score: 147.95,\n    event_category: 'Product Launch',\n    target_type: 'related_company',\n    primary_ticker: 'MSFT',\n    related_ticker: 'GOOGL',\n    relationship_type: 'Competitor',\n    desired_sample_count: 57,\n    current_sample_count: 56,\n    gap_size: 1,\n    why_this_slice_matters: 'GOOGL competitor coverage for product launches is still one example short and remains low-confidence heavy.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::GOOGL::Competitor'\n  },\n  {\n    priority_rank: 10,\n    priority_score: 165.97,\n    gap_score: 138.1,\n    event_category: 'Product Launch',\n    target_type: 'relationship_slice',\n    primary_ticker: 'NVDA',\n    related_ticker: 'TSM',\n    relationship_type: 'Supplier',\n    desired_sample_count: 5,\n    current_sample_count: 4,\n    gap_size: 1,\n    why_this_slice_matters: 'Supplier-path product-launch evidence for TSM remains sparse and still contributes to fallback use.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::TSM::Supplier'\n  },\n  {\n    priority_rank: 11,\n    priority_score: 150.66,\n    gap_score: 122.95,\n    event_category: 'Product Launch',\n    target_type: 'related_company',\n    primary_ticker: 'NVDA',\n    related_ticker: 'AMD',\n    relationship_type: 'Competitor',\n    desired_sample_count: 5,\n    current_sample_count: 4,\n    gap_size: 1,\n    why_this_slice_matters: 'AMD competitor-path product-launch evidence is still below target depth and low-confidence heavy.',\n    suggested_source_type: 'market-events',\n    source_gap_key: 'related::Product Launch::AMD::Competitor'\n  }\n];\n\nconst planItems = Array.isArray(incomingPlan) && incomingPlan.length ? incomingPlan : defaultPlanItems;\n\nconst sourcePriorityByType = {\n  'sec-filings': ['sec-filings', 'company-ir', 'major-news'],\n  'market-events': ['press-release', 'company-ir', 'major-news'],\n  'price-history': ['price-provider', 'exchange-data']\n};\nconst SEC_FORM_PRIORITY = new Set(['8-K', '10-Q', '10-K', '6-K', '20-F']);\nconst SEC_USER_AGENT = 'StrattonAI/1.0 local research workspace';\n\nfunction buildSearchQueries(item) {\n  const eventCategory = item.event_category;\n  const primary = item.primary_ticker ? `${item.primary_ticker} ` : '';\n  const related = item.related_ticker || 'related company';\n  const relationship = item.relationship_type ? ` ${item.relationship_type}` : '';\n  const sourceType = item.suggested_source_type || 'market-events';\n  const sourcePriority = sourcePriorityByType[sourceType] ?? ['major-news'];\n\n  return [\n    {\n      query_text: `${primary}${eventCategory} ${related}${relationship} historical`.trim(),\n      source_type: sourcePriority[0],\n      priority: 1,\n      notes: `Prefer explicit ${eventCategory} evidence tied to ${related}${relationship ? ` via ${relationship}` : ''}.`\n    },\n    {\n      query_text: `${primary}${related} ${eventCategory} announcement press release historical`.trim(),\n      source_type: sourcePriority[Math.min(1, sourcePriority.length - 1)],\n      priority: 2,\n      notes: 'Prefer primary-source announcements or filing-linked source pages.'\n    }\n  ];\n}\n\nfunction buildBaseSlice(item) {\n  return {\n    placeholder_example: false,\n    source_gap_key: item.source_gap_key,\n    priority_rank: item.priority_rank,\n    priority_score: item.priority_score ?? item.planner_score ?? null,\n    gap_score: item.gap_score ?? item.notes?.audit_gap_score ?? null,\n    event_category: item.event_category,\n    target_type: item.target_type,\n    primary_ticker: item.primary_ticker ?? null,\n    related_ticker: item.related_ticker ?? null,\n    relationship_type: item.relationship_type ?? null,\n    desired_sample_count: item.desired_sample_count ?? item.desired_min_sample_size ?? 0,\n    current_sample_count: item.current_sample_count ?? item.current_sample_size ?? 0,\n    gap_size: item.gap_size ?? 0,\n    why_this_slice_matters: item.why_this_slice_matters ?? item.why_it_matters ?? '',\n    suggested_source_type: item.suggested_source_type ?? 'market-events',\n    suggested_source_priority: sourcePriorityByType[item.suggested_source_type ?? 'market-events'] ?? ['major-news'],\n    search_queries: buildSearchQueries(item),\n    source_candidates: [],\n    collected_examples: [],\n    review_status: 'pending_research',\n    reviewer_notes: ''\n  };\n}\n\nfunction accessionToArchivePath(cik, accessionNumber, primaryDocument) {\n  if (!accessionNumber || !primaryDocument) return null;\n  const accessionNoDashes = accessionNumber.replace(/-/g, '');\n  const cikNumber = String(parseInt(cik, 10));\n  return `https://www.sec.gov/Archives/edgar/data/${cikNumber}/${accessionNoDashes}/${primaryDocument}`;\n}\n\nasync function fetchJson(url) {\n  const response = await fetch(url, {\n    headers: {\n      'User-Agent': SEC_USER_AGENT,\n      'Accept': 'application/json'\n    }\n  });\n  if (!response.ok) {\n    throw new Error(`HTTP ${response.status} for ${url}`);\n  }\n  return await response.json();\n}\n\nfunction mapRecentFilings(submissionsPayload) {\n  const recent = submissionsPayload?.filings?.recent;\n  if (!recent || !Array.isArray(recent.form)) return [];\n  const results = [];\n  for (let index = 0; index < recent.form.length; index += 1) {\n    const formType = recent.form[index];\n    if (!SEC_FORM_PRIORITY.has(formType)) continue;\n    results.push({\n      formType,\n      filingDate: recent.filingDate?.[index] ?? null,\n      accessionNumber: recent.accessionNumber?.[index] ?? null,\n      primaryDocument: recent.primaryDocument?.[index] ?? null,\n      primaryDocDescription: recent.primaryDocDescription?.[index] ?? null,\n      reportDate: recent.reportDate?.[index] ?? null\n    });\n  }\n  return results.slice(0, 3);\n}\n\nfunction attachSecCandidates(slice, filings, cik, companyTitle) {\n  slice.source_candidates = filings.map((filing, index) => ({\n    candidate_id: `${slice.source_gap_key}::sec_candidate_${index + 1}`,\n    source_type: 'sec-filings',\n    source_name: 'sec_edgar_public_submissions',\n    source_url: accessionToArchivePath(cik, filing.accessionNumber, filing.primaryDocument) || `https://data.sec.gov/submissions/CIK${cik}.json`,\n    retrieval_status: 'fetched',\n    notes: `Candidate ${filing.formType} filing for ${companyTitle || slice.primary_ticker || slice.related_ticker}. Review the filing body before approving ingestion.`\n  }));\n\n  slice.collected_examples = filings.map((filing) => ({\n    source_name: 'sec_edgar_public_submissions',\n    source_record_id: filing.accessionNumber || `${cik}|${filing.formType}|${filing.filingDate}`,\n    source_url: accessionToArchivePath(cik, filing.accessionNumber, filing.primaryDocument) || `https://data.sec.gov/submissions/CIK${cik}.json`,\n    source_title: filing.primaryDocDescription || `${companyTitle || slice.related_ticker || slice.primary_ticker} ${filing.formType}`,\n    source_publisher: 'SEC EDGAR',\n    published_at: filing.filingDate ? `${filing.filingDate}T00:00:00Z` : null,\n    occurred_at: filing.reportDate ? `${filing.reportDate}T00:00:00Z` : (filing.filingDate ? `${filing.filingDate}T00:00:00Z` : null),\n    headline: `${companyTitle || slice.related_ticker || slice.primary_ticker} ${filing.formType} ${filing.primaryDocDescription || 'filing'}`.trim(),\n    summary: `Candidate SEC filing gathered from the public submissions feed for ${slice.event_category}. Review the filing body to confirm the event and relationship path.`,\n    primary_ticker: slice.primary_ticker || slice.related_ticker,\n    related_companies: slice.primary_ticker && slice.related_ticker && slice.primary_ticker !== slice.related_ticker ? [{\n      ticker: slice.related_ticker,\n      name: slice.related_ticker,\n      relationship: slice.relationship_type || 'Related'\n    }] : [],\n    event_type_hint: slice.event_category,\n    sentiment_hint: 'unknown',\n    relationship_evidence: slice.relationship_type ? `Review filing body to confirm ${slice.relationship_type} path for ${slice.related_ticker || slice.primary_ticker}.` : null,\n    extraction_notes: 'Auto-collected from public SEC submissions metadata only. Use the filing body as the final review source before ingestion.',\n    evidence_quote: filing.primaryDocDescription || filing.formType,\n    evidence_confidence: 'low',\n    duplicate_check_key: `sec_edgar_public_submissions|${filing.accessionNumber || `${cik}|${filing.formType}|${filing.filingDate}`}|${slice.primary_ticker || slice.related_ticker}|${slice.event_category}|${filing.filingDate || 'unknown'}`,\n    ready_for_ingestion: false\n  }));\n\n  if (slice.collected_examples.length > 0) {\n    slice.review_status = 'pending_review';\n    slice.reviewer_notes = 'Public SEC submissions metadata collected automatically. Review and confirm filing relevance before copying into the SEC ingestion bundle.';\n  } else {\n    slice.review_status = 'needs_more_research';\n    slice.reviewer_notes = 'No recent public SEC filings matched the allowed forms for this slice.';\n  }\n}\n\nconst researchSlices = planItems\n  .filter((item) => item.source_gap_key !== 'price::TTM')\n  .map((item) => buildBaseSlice(item));\n\nconst secSlices = researchSlices.filter((slice) => slice.suggested_source_type === 'sec-filings');\nconst secFetchLog = [];\nconst fetchSupported = typeof fetch === 'function';\n\nif (fetchSupported && secSlices.length > 0) {\n  try {\n    const companyTickerMapPayload = await fetchJson('https://www.sec.gov/files/company_tickers.json');\n    const companyTickerMap = new Map();\n    for (const value of Object.values(companyTickerMapPayload || {})) {\n      const ticker = String(value?.ticker || '').toUpperCase();\n      if (!ticker) continue;\n      companyTickerMap.set(ticker, {\n        cik: String(value.cik_str).padStart(10, '0'),\n        title: value.title || ticker\n      });\n    }\n\n    for (const slice of secSlices) {\n      const lookupTicker = (slice.primary_ticker || slice.related_ticker || '').toUpperCase();\n      const company = companyTickerMap.get(lookupTicker);\n      if (!company) {\n        slice.review_status = 'needs_more_research';\n        slice.reviewer_notes = `Ticker ${lookupTicker} was not found in the public SEC ticker mapping feed.`;\n        secFetchLog.push({ source_gap_key: slice.source_gap_key, ticker: lookupTicker, status: 'ticker_not_found' });\n        continue;\n      }\n\n      try {\n        const submissions = await fetchJson(`https://data.sec.gov/submissions/CIK${company.cik}.json`);\n        const filings = mapRecentFilings(submissions);\n        attachSecCandidates(slice, filings, company.cik, company.title);\n        secFetchLog.push({\n          source_gap_key: slice.source_gap_key,\n          ticker: lookupTicker,\n          status: filings.length ? 'ok' : 'no_matching_filings',\n          filings_collected: filings.length\n        });\n      } catch (error) {\n        slice.review_status = 'needs_more_research';\n        slice.reviewer_notes = `SEC fetch failed for ${lookupTicker}: ${error.message}`;\n        secFetchLog.push({ source_gap_key: slice.source_gap_key, ticker: lookupTicker, status: 'fetch_error', error: error.message });\n      }\n    }\n  } catch (error) {\n    for (const slice of secSlices) {\n      slice.review_status = 'needs_more_research';\n      slice.reviewer_notes = `SEC public mapping fetch failed: ${error.message}`;\n    }\n    secFetchLog.push({ status: 'mapping_fetch_error', error: error.message });\n  }\n} else if (!fetchSupported) {\n  for (const slice of secSlices) {\n    slice.review_status = 'needs_more_research';\n    slice.reviewer_notes = 'Global fetch is unavailable in this n8n runtime. Add an HTTP Request node or upgrade the runtime before auto-collecting SEC metadata.';\n  }\n  secFetchLog.push({ status: 'fetch_unavailable' });\n}\n\nreturn [\n  {\n    json: {\n      template_metadata: {\n        template_name: 'n8n_targeted_research_template',\n        schema_version: '1.0.0',\n        template_only: false,\n        purpose: 'Live n8n research bundle generated from current top-priority StrattonAI backfill slices.',\n        generated_from_plan_path: 'reports/targeted_backfill_plan.json',\n        generated_at_note: 'Generated inside n8n; copy approved examples into source-specific ingestion bundles before ingestion.'\n      },\n      workflow_contract: {\n        source_of_truth: 'Python and Supabase pipeline',\n        n8n_role: [\n          'read ranked slice targets',\n          'build deterministic search tasks',\n          'collect candidate historical examples',\n          'document exact source evidence'\n        ],\n        review_gate: 'All collected_examples stay ready_for_ingestion=false until a human review approves them.',\n        handoff_targets: [\n          'ingestion/templates/targeted_market_events_template.json',\n          'ingestion/templates/targeted_sec_filings_template.json'\n        ]\n      },\n      sec_fetch_summary: {\n        fetch_supported: fetchSupported,\n        sec_slice_count: secSlices.length,\n        log: secFetchLog\n      },\n      research_slices: researchSlices\n    }\n  }\n];"
      },
      "id": "649be114-b9af-461d-a35a-7f0d00f27903",
      "name": "Build Review Bundle + SEC Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Build Search Task Queue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Review Bundle + SEC Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae8a7b66-5f83-4639-83c6-3aaf3fef0d93",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
